{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Django Project">
    <meta name="author" content="Anish Chapagain">
    <title>2018 FIFA WORLD CUP: Polls</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
{#    {% load static %}#}
{#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
{#    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.charts.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>#}
{#    <script type="text/javascript" src={% static "fusioncharts/fusioncharts-jquery-plugin.js" %}></script>#}
{#    <script type="text/javascript" src={% static "fusioncharts/fusioncharts-jquery-plugin.min.js" %}></script>#}

</head>

<body class="dashboard">
<div id="container">
    <div id="header">
        <div id="branding">
            <h1 id="site-name">2018 FIFA WORLD CUP: Poll System</h1>
        </div>
        <div id="user-tools">
            <p>
                {% if user.is_authenticated %}
                    <a href="/admin/" style="color:#fffcc4">Admin</a> > >
                    <a href="/poll/index/"> POLL </a> > >
                    <a href="/poll/profile/{{ user.username }}" style="color:#fdffee">Profile</a> > >
                    - - - - Welcome {{ user.username }} <a href="/poll/logout" style="color:#ffae2e">Logout</a>
                {% else %}
                    <a href="/poll/"> POLL </a>
                    <a href="/poll/login" style="color:#ff8319">Login</a>
                {% endif %}//
                <a href="/poll/email/" style="color:#fdffee">Contact Email</a>

                - - - -
                Vote for 2018 FIFA WORLD CUP SYSTEM
            </p>
        </div>
    </div>
{#    <div class="breadcrumbs">#}
{#        <a href="/poll/"> POLL </a>#}
{#        >>#}
{#        <a href="/poll/viewall"> View ALL Results </a>#}
{#    </div>#}
    <hr/>

    <div id="content" class="colMS">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div id="footer">
    <div class="center">
        <div class="contentinfo">

            <p>2018 FIFA WORLD CUP POLL SYSTEM</p>
            <p>FIFA , <a href="http://www.fifa.com">fifa.com</a></p>
        </div>
    </div>
</div>
</body>
</html>